.About_content{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 10%;
}
.About_content_left{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 90px;
}
.img_sec{
    height: 870px;
    width: 700px;
    background-color:#EBEBEB;
    margin-left: 50px;
    margin-top: -30px;
    border-radius: 20px;
}
.img4{
    height: 800px;
    width: 700px;
    border-radius: 20px;
    position: absolute;
}
.About_content_right{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 300px;
    width: 100%;
}
.assure_card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    position: relative;
    width: 600px;
}
.imgsec{
    height: 90px;
    width: 100px;
    border: 1px solid white;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgb(0,0,0.1,0.12);
}
.icon{
    color: orange;
    font-size: 32px;
}
@media(max-width:1733px){
  .img_sec{
    height: 670px;
    width: 600px;
  }
  .img4{
    height: 700px;
    width: 600px;
  }
  .About_content_right{
    display: flex;
    position: relative;
    right: 120px;
  }
  .assure_card{
    display: flex;
    position: relative;
    width: 600px;
    right: 120px;
  }
}
@media(max-width:654px){
   .About_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 400px;
    gap: 10px;
   }
.About_content_right{
    width: 600px;
    font-size: 40px;
}
.assure_card{
    font-size: 40px;

}
.img_sec{

    margin-right: 300px;
    height: 570px;
    width: 500px;
  }
  .img4{
    height: 500px;
    width: 500px;
  }
  .imgsec{
    width: 150px;
  }

  }
  @media(max-width:400px){
    .img_sec{
      display: flex;
      margin-right: 40px;
    }
    .imgsec{
      width: 150px;
    }
  }